[build]
  command = "npm run build"
  publish = "dist"

# The following redirect is intended for use with SPAs that handle routing internally
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
